html{
    background-color: #ff785a;
}
html:hover .spider{
    top:-120%;
}
.spiderweb{
    background-color: rgb(204, 177, 177); /* changed color of the spiderweb line to gray*/
    width:4px; /*made the line connecting to spider thicker */
    height:300px; /*made the line connecting to spider longer */
    margin-left: 49px;
    transition:1s ease-in-out;
}
.spider{
    position:absolute;
    display:inline-block;
    top:0;
    left:30%;
    animation:swing 2s infinite;
    transform-origin:top;
}
.spider .body {
width:100px;
height:80px;
background:#000000;
position:relative;
border-radius: 60%; /* made the body more circular*/
}
.spider .body .eye{
    width:33px;
    height:33px;
    background: #e6eba3; /* changed the eye color */
    position:absolute;
    bottom:20px;
    border-radius:50%;
}

.spider .eye.right{
    right:20px;/* made the eye bigger and removes spacing between eyes*/
}
.spider .eye.left{
    left:20px;/* made the eye bigger and removes spacing between eyes*/
}
.spider .eye::after{
    background:#000;
    width:7px;
    height:7px;
    content:'';
    display:block;
    margin:55%;
    border-radius:50%;
    animation:look 8s infinite;
}
.spider .legs{
    position:absolute;
    bottom: -5%;/* changed this so the legs fit together*/
    z-index:1;
}
.spider .legs .leg{
    width:75px;
    height:40px;
    margin-top:-20px;
    border: 5px solid transparent;
    border-top-color:#000;
    border-radius: 40px 40px 0 0;
}
.spider .legs.left{
    left:-70%;
}
.spider .legs.right{
    right:-60%;
}
.legs.left .leg:nth-child(1){
    transform: rotate(10deg);
    margin-left: 10px;
}
.legs.right .leg:nth-child(1){
    transform:rotate(-10deg);
    margin-left:-10px;
}
.legs.left .leg:nth-child(2){
    transform: rotate(-20deg);
    margin-left: 20px;
}
.legs.right .leg:nth-child(2){
    transform: rotate(20deg);
    margin-left: -20px;
}
.legs.left .leg:nth-child(3){
    transform: rotate(-50deg);
    margin-left:30px;
}
.legs.right .leg:nth-child(3){
   transform: rotate(50deg);
   margin-left:-30px;
}
@keyframes look{
    0%, 40%, 100%{
        transform: translateX(0);
    }
    45%, 95%{
        transform: translateX(-110%);
    }
}
@keyframes swing{
0%, 100% {
    transform: translateY(0);
}
/*makes the swing reach farther down */
50%{
    transform: translateY(-200px);
}
}